body {
	font-size: 16px;
	color: #fff;
	background-color: #61122F;
	font-family: 'Oxygen', sans-serif;
}

/* HEADER */
#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}

#logo-img { /* Imagen del logo del restaurante */
	background: url('../images/restaurant-logo_large.png') no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0;
}

.navbar-brand { 
	padding-top: 25px;
}

.navbar-brand h1 { /* Nombre de restaurante */
	font-family: 'Lora', serif;
	color: #557c3e;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

.navbar-brand p { /* Certificado del restaurante */
	color: #000;
	text-transform: uppercase;
	font-size: .7em;
	margin-top: 15px;
}

.navbar-brand span {
	vertical-align: middle;
}

#nav-list {
	margin-top: 10px;
}

#nav-list a {
	color: #C73636;
	text-align: center;
}

#nav-list a:hover {
	background: #E7E7E7;
}

#nav-list a span {
	font-size: 1.8em;
}

#phone {
	margin-top: 5px;
}

#phone a { /* Numero de telefono */
	text-align: right;
	padding-bottom: 0;
}

#phone div { /* Delivery */
	color: #557c3e;
	text-align: right;
	padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #C73636;
}

.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -30px;
}